@import '../../styles/variables.scss';
.sidemenu{
    .item{
        display: flex;
        flex-direction: column;
        gap: 10px;
        margin-bottom: 20px;
        .title{
            font-size: small;
            font-weight: 200;
            color:$soft-color;
            text-transform:uppercase ;
        }
        .listItem{
            display: flex;
            align-items: center;
            padding: 10px;
            gap: 10px;
            border-radius: 5px;
            
            &:hover{
                background-color: $soft-bg;            
            }
        }
    }
}